@import "reset.css";
@import "general.css";




body {
    background-color: var(--main-color);
    
}


.upgrade {
    background-color: var(--top-color);
    
}



/* NAVBAR */
.web-app {
    display: flex;
    height: 100vh;
}

.sidebar-menu {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 15.625rem;
    padding: 1.25rem;
    background-color:black;
}

.sidebar-menu .menu {
    margin: 0 -1.25rem;
}

.sidebar-menu .menu a {
    color: var(--title-color);
    display: block;
    text-decoration: none;
    padding-top: .3125rem;
    padding-left: .625rem;
    
}

.menu ul li {
    font-size: .625rem;
}

.sidebar-menu .menu h3 {
    color: white;
    padding: .625rem;

}




/* MAIN */


/* SECTION 1 */

.button {
    display: flex;
    justify-content: flex-end;
    padding: 1.25rem;
}

.button > button {
    background-color: var(--top-color);
    border: .0625rem solid white;
    border-radius: 2.5rem;
}

button > a {
    color: white;
    text-decoration: none;
    padding: 1.25rem;
    font-size: small;
}


/* SECTION 2 */

.links-list {
    padding-top: 1.25rem;
    text-align: center;
}


.links-list ul li {
    list-style: none;
    display: inline-block;
}

.links-list ul li > a {
    color: var(--title-color);
    text-decoration: none;
    padding-right: 1.25rem;
}
    
    
/* SECTION 3 */

.recently-played > h2 {
    color: white;
}

.recently-songs {
    width: 9.375rem;
    height: 9.375rem;
    margin: .625rem;
    display: inline-block;
}

.recently-songs > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recently-played .recently-songs img + h3 {
    color: white;
    text-align: center;
    padding: .625rem;
}

h3 + h5 {
    color: var(--title-color);
    text-align: center;
}















@media screen and (max-width:1100px) {

    .links-list {
        display: flex;
        flex-wrap: wrap;
    }

    .songs-img {
        display: flex;
        flex-wrap: wrap;
    }

}



@media screen and (max-width:700px) {

}



@media screen and (max-width:600px) {

}